# Serveur API
PORT=3000
TCP_PORT=5000
NODE_ENV=development
JWT_SECRET=your_secret_key_here
# Database configuration (PostgreSQL)
DB_HOST=localhost
DB_PORT=5432
DB_NAME=smart_orchard
DB_USER=postgres
DB_PASSWORD=your_password
LOGS_DIR=C:\pm2\SmartOrchard\logs